 <div class="container">
       



 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

      <page page-value="event-information"></page> 

        <div class="row">
            <div class="col-lg-3 menu hidden-sm">
                <p><span class="menuHeader">Event Information</span></p>

                <p><a href="#/course-map">Course Map</a></p>

              
               

             
            </div>

            <div class="col-lg-9 content">
                <p><span class="contentHeader">Course Map</span></p>

                

               
            </div>
        </div>
        <br /><br />
       

 <div ng-include="'partials/includes/_footer.html'">
    </div>

    </div>

