 <div class="container">
       





 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

       <page page-value="event-information"></page>

        <div class="row">
            <div class="col-lg-3 menu hidden-sm">
                <p><span class="menuHeader">Event Information</span></p>

                <p><a target="_blank" href="partials/course-map.pdf">Course Map</a></p>

              
               

             
            </div>

            <div class="col-lg-9 content">
                <p><span class="contentHeader"> Run/Walk Information</span></p>

                
<p>Date:  Sunday, September 15th</p>
<p>Where:  York &amp; South Streets, Elmhurst, IL (York &amp; Prairie Path)</p>
<p>Time:  9 am sharp</p>
<p>On-site registration 7:00 am - 8:45 am Knights of Columbus</p>
<p>Cost:  $35/person (pre-registration) $40.00 (event day)</p>


<p class="paddingTop20"><span class="contentHeader">1 Mile Kids Dash (grades k thru 8)</span></p>

<p>Date:  Sunday, September 15th</p>
<p>Where:  York &amp; South Streets, Elmhurst, IL (York &amp; Prarie Path)</p>
<p>Time:  9:45 am Sharp</p>
<p>On-site registration 7:00 am - 9:30 am Knights of Columbus</p>
<p>Cost:  $20/entree fee per child</p>

<p>The event will feature moon jumps and Thomas the Train kiddie rides, and the Jesse White Tumblers.</p>
<p>The legendary US Olympic Track &amp; Field Coach Joe Newton will be the Official Starter.</p>


<p class="paddingTop20"><span class="contentHeader">After Party</span></p>

<p>HB Jones from 11 am - 1 pm. $20.00 for adults &amp; $5.00 for kids.</p>

<p>Live Music (Includes food and 2 beverages per ticket)</p>
               
            </div>
        </div>
    
       

 <div ng-include="'partials/includes/_footer.html'">
    </div>

    </div>

