<div class="container">
     

        

     
 <div ng-include="'partials/includes/_navMenu.html'" onload="openNav()">
    </div>



    <page page-value="home"></page>
        

        <div class="row headerImage hidden-sm">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5 col-sm-6 col-offset-4">
                        <div class="paddingHomeTimer">
                            <p class="marginBottomZero">(Formerly Brianna &amp; Friends Walk to
                            Talk)</p>
                            <p class="marginBottomZero"><span class="officialDate bold">Sunday, Sept. 15,
                            2013</span></p>

                            <div id="countdown_dashboard" class="pull-left">
                                <div class="dash days_dash">
                                    <div class="digit">
                                        0
                                    </div>

                                    <div class="digit">
                                        0
                                    </div>
                                </div>

                                <div class="spacer">
                                    <span class=
                                    "digitSpacer">&nbsp;:&nbsp;</span>
                                </div>

                                <div class="dash hours_dash">
                                    <div class="digit">
                                        0
                                    </div>

                                    <div class="digit">
                                        0
                                    </div>
                                </div>

                                <div class="spacer">
                                    <span class=
                                    "digitSpacer">&nbsp;:&nbsp;</span>
                                </div>

                                <div class="dash minutes_dash">
                                    <div class="digit">
                                        0
                                    </div>

                                    <div class="digit">
                                        0
                                    </div>
                                </div>

                                <div class="spacer">
                                    <span class=
                                    "digitSpacer">&nbsp;:&nbsp;</span>
                                </div>

                                <div class="dash seconds_dash">
                                    <div class="digit">
                                        0
                                    </div>

                                    <div class="digit">
                                        0
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left paddingLeft10">
                                <p class="timezoneNotification">Countdown</p>

                                <p class="timezoneNotification">(Central
                                Daylight Time)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-offset-2">
                                <div class="headlinePadding">
                                    <p class="marginBottomZero"><span class="headlineFirst">Run for
                                    Fun</span></p>
                                    <p class="marginBottomZero"><span class="headlineSecond">Run for
                                    One</span></p>
                                    <p><span class="organization">Benefitting The Center for Speech &amp; Language Disorders, a 501(c)(3)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-sm topMargin30">
            <div class="col-lg-8 col-sm-12">
                <div class="cycleFeed">
                <div class="paddingCycle">
                    <div class="cycle">
                        

                        <span class="cycleHeadlines first">1 in 12 people have a communication disorder</span>

                        <span class="cycleHeadlines">1 in 5 children receive services for speech and

                        language disorders</span>

                        <span class="cycleHeadlines">1 in 50 children have an autism spectrum disorder</span>

                        <span class="cycleHeadlines">1 in 20 children have symptoms of a language

                        disorder</span>

                        <span class="cycleHeadlines">1 in 5.5 children encounter reading problems</span>

                        <span class="cycleHeadlines">1 in 20 children have a speech sound disorder</span>

                        <span class="cycleHeadlines">1 in 100 children experience a long-term stuttering

                        problem</span>

                        <span class="cycleHeadlines">1 in 16 children experience a voice disorder</span>
                    </div>
                </div>
                </div>
                <div>
                    

                    <p class="pull-right">&lt; <a class="prev" href=
                    "#">Prev</a> | <a class="next" href="#">Next</a> &gt;</p>

                   
                </div>
            </div>

            <div class="col-lg-4">
                
                <p class="marginBottomZero"><span class="bold">Event Chairman</span></p>
                <p>Pete &amp; Rose DiCianni</p>
                
                <p class="marginBottomZero"><span class="bold">Official Starter</span></p>
                <p class="marginBottomZero"><span>Joe Newton-US Olympic Track &amp; Field Coach</span></p>
                <p>Featuring the Jesse White Tumblers</p>
            </div>
        </div>

  <div ng-include="'partials/includes/_footer.html'" onload="cycleAndCountdown()">
    </div>



</div>

