 <div class="container">
       






 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

       <page page-value="inspiration"></page>

        <div class="row">
            

            <div class="col-lg-12 content">
            
            <div class="row text-center">
            
            <div class="col-lg-12 content">
                <img src="img/inspiration.jpg" alt="inspiration walk" />
            </div>

        </div>
               
                <p class="paddingTop20">From 2008 to 2012, Rose and I sponsored the Brianna &amp; Friends, Walk to Talk in Elmhurst's Berens Park. The Walk was in honor of our daughter Brianna who at age three was not talking. It turned out to be autism that was robbing her of her ability to speak. Brianna has received aggressive speech therapy at the Center for Speech and Language Disorders. Brianna now has the gift of talking.</p>
                

                <p>Every year CSLD serves hundreds of children both on the autism spectrum and with other language disorders. It is with spirit that the DiCianni family has committed to be the chairpersons of the Inaugural Talkie Trot, a 5K Run and Walk on Sunday, September 15, 2013.</p>

                <p>We invite you to enjoy this event and share the day with your family and friends. Your sponsorship will allow CSLD to continue the fight to give all kids the basic right that is all too critical in life, the ability to TALK!</p>

                <p>All funds raised by the sponsorships directly benefit the programs at the Center for Speech and Language Disorders including financial assistance.</p>

                <p class="marginBottomZero">Pete &amp; Rose DiCianni</p>
                <p>2013 Talkie Trot Chairpersons</p> 






            </div>
        </div>
   
       

 <div ng-include="'partials/includes/_footer.html'">
    </div>

    </div>

