 <div class="container">





 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

<page page-value="register-online"></page>

<div class="row">
           

            <div class="col-lg-12 content register">

               
                <p><span class="contentHeader">Register Online</span></p>
<p class="marginBottomZero">Pre-Registration Packet Pick-Up</p>
<p class="marginBottomZero">Runner's Soul, 124 N. York St., Elmhurst, IL</p>
<p class="marginBottomZero">Friday, Sept. 13th (10 am - 8 pm)</p>
<p>Saturday, Sept. 14th (10 am - 5 pm)</p>
<div class="alert alert-danger waiverNotice">*You must agree to the waiver below before registering</div>
    <input type="checkbox" id="squaredTwo" class="pull-left" />
    
<p>WAIVER: In consideration of my participation in the
<span class="bold">Inaugural Talkie Trot benefitting the Center for Speech
and Language Disorders (CSLD)</span> I hereby for myself, my
heirs, executors, administrators, and assignees, waive any
release of rights and claims for any damages I may have
against CSLD, City of Elmhurst, County of DuPage,
Elmhurst Park District, Village of Berkeley, the sponsors of
this event — named or unnamed. Its successors, assignees
and employees shall be held harmless participating in, and
returning from this event along with other applicable agencies
or groups. I grant permission to all foregoing to use any
photographs, videos, recordings or any other records of this
event for any legitimate purpose.</p>

               
                <table class="table table-bordered table-striped topMargin30">
                    <thead>
                        <tr class="success">
                            <th>&nbsp;</th>
                            <th>Runners</th>
                            <th>Walkers</th>
                            <th>Kids' Dash</th>
                            <th>After Event Party Only</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>With after event party - Adult</td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="KJ9WHZ6RD2WUC">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Small">Small $55.00 USD</option>
                            <option value="Medium">Medium $55.00 USD</option>
                            <option value="Large">Large $55.00 USD</option>
                            <option value="XL">XL $55.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="AS6RJCMX8EY2Y">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Small">Small $55.00 USD</option>
                            <option value="Medium">Medium $55.00 USD</option>
                            <option value="Large">Large $55.00 USD</option>
                            <option value="XL">XL $55.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Without after event party - Adult</td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="XNZ2VUSKZBNJJ">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Small">Small $35.00 USD</option>
                            <option value="Medium">Medium $35.00 USD</option>
                            <option value="Large">Large $35.00 USD</option>
                            <option value="XL">XL $35.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="LA9AAXHVDZPTC">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Small">Small $35.00 USD</option>
                            <option value="Medium">Medium $35.00 USD</option>
                            <option value="Large">Large $35.00 USD</option>
                            <option value="XL">XL $35.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>With after event party - Kids</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="KJDQ9QPFKBCZY">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Youth 10-12">Youth 10-12 $25.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr>
                        <td>Without after event party - Kids</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="3M8FFBFT88QPG">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Shirt Size">Shirt Size</td></tr><tr><td><select name="os0">
                            <option value="Youth 10-12">Youth 10-12 $20.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>After Event Party Only - Adults</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="FR2Q28RTH8NU2">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>


                        </td>
                    </tr>
                    <tr>
                        <td>After Event Party Only - Kids</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="LGP8W2X33WLF6">
                        <input type="image" class="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>


                        </td>
                    </tr>
                </table>

            </div>
        </div>
   


       <div ng-include="'partials/includes/_footer.html'">
    </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".paypal").on("click", function(event){   
        if($('#squaredTwo').is(':checked')){
            
            $('.waiverNotice').slideUp();
            return true;
        }
        else{
            $('.waiverNotice').slideDown();
            return false;
           
        }
    });

    $('#squaredTwo').change(function() {
    if($('#squaredTwo').is(':checked')){
         
            $('.waiverNotice').slideUp();
            
        }
        else{
            $('.waiverNotice').slideDown;
           
        }
    });
   
});
    </script> 

