 <div class="container">
       





 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

<page page-value="sponsors"></page>
       

        <div class="row">
            <div class="col-lg-3 menu hidden-sm">
                <p><span class="menuHeader">Sponsors</span></p>

                <p><a href="#/sponsor-opportunities">Sponsor Opportunities</a></p>

                
            </div>

            <div class="col-lg-9 content">
                <div class="row">
                    <div class="col-lg-12">
                        <p><span class="contentHeader">Meet Our Sponsors...</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="paddingTop20"><span class="contentHeader">Empowerment Sponsor</span></p>


                        <div class="row">
                            <div class="col-lg-4">
                         <a href="http://www.elmhursttoyota.com/" target="_blank"><img src="img/Toyota.jpg" alt="Toyota" class="width100Percent" /></a>
                <p class="marginBottomZero">Elmhurst Toyota</p>
                <p><a href="http://www.elmhursttoyota.com/" target="_blank">www.ElmhurstToyota.com</a></p>
                    </div>

                        <div class="col-lg-4">
                        <a href="http://therunnerssoul.com/" target="_blank"><img src="img/runnerssoul.jpg" alt="Runners Soul" /></a>
                <p class="marginBottomZero">The Runner's Soul</p>
                <p><a href="http://therunnerssoul.com/" target="_blank">www.TheRunnersSoul.com</a></p>
            </div>



              <div class="col-lg-4">
                        <a href="http://www.FTCaresFoundation.org" target="_blank"><img src="img/FTC.jpg" alt="FT Cares Foundation" /></a>
                <p class="marginBottomZero">FT Cares Foundation</p>
                <p><a href="http://www.FTCaresFoundation.org" target="_blank">www.FTCaresFoundation.org</a></p>
            </div>

        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="paddingTop20"><span class="contentHeader">Encouragement Sponsor</span></p>
                        <div class="row">
                            <div class="col-lg-4">
                        
                         <a href="http://www.amoonjump4u.com" target="_blank"><img src="img/moonjump.gif" alt="Amoonjump4u" /></a>
                <p class="marginBottomZero">Amoonjump4u Inc.</p>
                <p><a href="http://www.amoonjump4u.com" target="_blank">www.Amoonjump4u.com</a></p>
                    </div>

               
                            <div class="col-lg-4">
                         <a href="http://www.srd-law.com/" target="_blank"><img src="img/storino.jpg" alt="srd law" /></a>
                <p class="marginBottomZero">Storino, Ramello & Durkin</p>
                <p><a href="http://www.srd-law.com" target="_blank">www.srd-law.com</a></p>
                    </div>


                            <div class="col-lg-4">
                   <a href="http://www.diciannigraphics.com/" target="_blank"><img src="img/Dicianni.jpg" alt="Dicianni Graphics" /></a>
                <p class="marginBottomZero">Dicianni Graphics</p>
                <p><a href="http://www.diciannigraphics.com/" target="_blank">www.DicianniGraphics.com</a></p>
                    </div>
                </div>

                <div class="row">
                            <div class="col-lg-4">
                

                <a href="http://www.elmhurstbmw.com/" target="_blank"><img src="img/logo.png" alt="Westlake Motors BMW" /></a>
                <p class="marginBottomZero">Westlake Motors BMW</p>
                <p><a href="http://www.elmhurstbmw.com/" target="_blank">www.ElmhurstBMW.com</a></p>
            </div>


                            <div class="col-lg-4">

                 <a href="http://www.hamburgerjones.com/" target="_blank"><img src="img/hbjones.jpg" alt="HB Jones" /></a>
                <p class="marginBottomZero">HB Jones</p>
                <p><a href="http://www.hamburgerjones.com/" target="_blank">www.HamburgerJones.com</a></p>
            </div>

                    <!-- next one here -->

        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="paddingTop20"><span class="contentHeader">Mentor Sponsor</span></p>

                        <div class="row">
                            <div class="col-lg-4">
                        <img src="img/harrisbank.jpg" alt="Harris Bank" />
                <p>BMO Harris Bank</p>
                    </div>

                 <div class="col-lg-4">
                        <img src="img/itamvets.gif" alt="ITAM Vets" class="paddingTop20" />
                <p class="marginBottomZero">Italian American War Veterans - Joe Gentile Post #2</p>
            </div>
             <div class="col-lg-4">
                <img src="img/Wilkins-Hyundai.jpg" alt="Wilkins Hyundai Mazda" class="paddingTop20" />
                <p class="marginBottomZero">Wilkins Hyundai Mazda</p>
            </div>

                    </div>



                    <div class="row">
                            <div class="col-lg-4">
                        <img src="img/WorldPantry.jpg" alt="WorldPantry.com" />
                <p>WorldPantry.com</p>
                    </div>


                    <div class="col-lg-4">
                        <img src="img/ST.png" alt="South Town Hot Dogs" />
                <p>South Town Hot Dogs</p>
                    </div>

                 
                      <div class="col-lg-4">
                        <img src="img/JMB.gif" alt="John &amp; Darrah Belcher" />
                <p>John &amp; Darrah Belcher </p>
                    </div>


                    </div>

                     <div class="row">
                            <div class="col-lg-4">
                        <img src="img/YOK.jpg" alt="Kick Off For Kidz" />
                <p>Kick Off For Kidz</p>
                    </div>


                    <div class="col-lg-4">
                        <img src="img/Olympia.png" alt="Olympia Chiropractic" />
                <p>Olympia Chiropractic</p>
                    </div>

                 <div class="col-lg-4">
                        <img src="img/Owen.jpeg" alt="Owen Studios" />
                <p>Owen Studios</p>
                    </div>




                    </div>
 
                 <div class="row">
                            <div class="col-lg-4">
                        <img src="img/cheese.png" alt="Marion Street Cheese Market" />
                <p>Marion Street Cheese Market</p>
                    </div>



                 <div class="col-lg-4">
                        <img src="img/superior.png" alt="Superior Ambulance" />
                <p>Superior Ambulance</p>
                    </div>
                  




                    </div>
                    

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="paddingTop20"><span class="contentHeader">Supporting Sponsor</span></p>

                        <div class="row">
                         <div class="col-lg-4">
                        <p>Sam &amp; Mary Palumbo Family Foundation</p>
                        <p>Pan American Bank</p>
                        <p>Neal Gallo State Farm Agency</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Christopher B. Burke Engineering, LTD.</p>
                        <p>Chicagoland Italian American Charitiable Organization (CIACO)</p>
                        <p>1015 Building</p>
                        <p>FBG Corporation - Frank Guidice</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Building Services of America</p>
                        <p>Nicor Gas</p>
                        <p>Law Offices of Joseph Calcagno</p>
                        <p>Chicago Blackhawk Alumni Association</p>
                    </div>
                </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="paddingTop20"><span class="contentHeader">Sustaining Sponsor</span></p>

                <div class="row">
                         <div class="col-lg-4">     
                <p>Phyllis &amp; David Kupperman</p>
                <p>Elara Engineering</p>
                <p>Allied Waste</p>
                <p>Special Kids Day</p>
                <p>Illinois Radon</p>
                <p>Fred A. Lonigro, CPA</p>
                <p>Law Offices of Marquardt &amp; Belmonte, PC.</p>
            </div>

                         <div class="col-lg-4">
                <p>Community Bank of Elmhurst</p>

                <p>B. Stromberg Construction Co. Inc.</p>
                <p>Ted Arey</p>
                <p>Dependable Business Forms</p>
            </div>

            <div class="col-lg-4">
                <p>Chris Kain</p>
                <p>York Furrier</p>
                <p>North Elmhurst McDonald's</p>
                <p>State Representative Dennis Reboletti</p>
                <p>DuPage County Board Donald Puchalski</p>
                <p>DuPage County Board peter "Pete" DiCianni</p>
            </div>



        </div>
                    </div>
                </div>


               



         


            </div>
        </div>

       

 <div ng-include="'partials/includes/_footer.html'">
    </div>

    </div>

