 <div class="container">
       





 <div ng-include="'partials/includes/_navMenu.html'">
    </div>


 <div ng-include="'partials/includes/_header.html'" onload="countDownTimer()">
    </div>

       <page page-value="sponsors"></page>
       

        <div class="row">
            <!--<div class="col-lg-3 menu hidden-sm">
                <p><span class="menuHeader">Sponsors</span></p>

                <p><a href="#/sponsor-opportunities">Sponsor Opportunities</a></p>

                
            </div>-->

            <div class="col-lg-12 content">
                <p><span class="contentHeader">Thank you!</span></p>

                <p>You have successfully purchased a sponsorship package!</p>

                <p>Questions, contact CSLD at 630-652-0200 or email 
                <a href="mailto:evelynm@csld.org">
                evelynm@csld.org</a></p>

            </div>
        </div>
       
       

 <div ng-include="'partials/includes/_footer.html'">
    </div>

    </div>

