
        <div class="row innerPageHeader hidden-sm">
            <div class="col-lg-4 col-offset-1">
                <div class="contentTimerPadding">
                    <div><p class="marginBottomZero"><span class="officialDate bold">Sunday, Sept. 15,
                    2013</span></p>

                    <div id="countdown_dashboard" class="pull-left">
                        <div class="dash days_dash">
                            <div class="digit">
                                0
                            </div>

                            <div class="digit">
                                0
                            </div>
                        </div>

                        <div class="spacer">
                            <span class="digitSpacer">&nbsp;:&nbsp;</span>
                        </div>

                        <div class="dash hours_dash">
                            <div class="digit">
                                0
                            </div>

                            <div class="digit">
                                0
                            </div>
                        </div>

                        <div class="spacer">
                            <span class="digitSpacer">&nbsp;:&nbsp;</span>
                        </div>

                        <div class="dash minutes_dash">
                            <div class="digit">
                                0
                            </div>

                            <div class="digit">
                                0
                            </div>
                        </div>

                        <div class="spacer">
                            <span class="digitSpacer">&nbsp;:&nbsp;</span>
                        </div>

                        <div class="dash seconds_dash">
                            <div class="digit">
                                0
                            </div>

                            <div class="digit">
                                0
                            </div>
                        </div>
                    </div>

                    <div class="pull-left paddingLeft10">
                        <p class="timezoneNotification">Countdown</p>

                        <p class="timezoneNotification">(Central Daylight
                        Time)</p>
                    </div>
                </div>
                    <div class="pull-left">
                        <p><span class="orgDistinction">(Formerly Brianna &amp; Friends Walk to Talk)</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="headlinePaddingInner">
                    <p class="marginBottomZero"><span class="headlineFirst">Run for Fun</span></p>
                    <p class="marginBottomZero"><span class="headlineSecond">Run for One</span></p>
                    <p><span class="subheadline">Benefitting The Center for Speech &amp; Language Disorders, a 501(c)(3)</span></p>
                </div>
            </div>
        </div>
        