       <nav>
       <div class="navbar">
  <div class="container">

    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="navbar-brand visible-sm" href="#/home"><img src="img/mobileLogo.jpg" alt="logo"></a>
    <span class="navbar-brand hidden-sm" href="#">&nbsp;</span>

    <!-- Place everything within .nav-collapse to hide it until above 768px -->
    <div class="nav-collapse collapse navbar-responsive-collapse">


        <ul class="nav navbar-nav paddingTop20">
                    <li class="hidden-sm home">
                        <a href="#/home">Home</a>
                    </li>

                    <li class="register-online">
                        <a href="#/register-online">Register
                        Online</a>
                    </li>

                    <li class="event-information">
                        <a href="#/event-information">Event
                        Information</a>
                        <ul class="nav navbar-nav visible-sm">
                                <li class="courseMap"><a href="partials/course-map.pdf">Course Map</a></li>

                                
                        </ul>
                   </li>

                    <li class="inspiration">
                        <a href="#/inspiration">Inspiration</a>
                    </li>

                    <li class="charity-donate">
                        <a href="#/charity-donate">The Charity
                        Donate</a>
                    </li>

                    <li class="sponsors">
                        <a href="#/sponsors">Sponsors</a>
                        <ul class="nav navbar-nav visible-sm">
                                <li class="sponsorOpportunities"><a href="#/sponsor-opportunities">Sponsor Opportunities</a></li>

                                
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right socialMedia hidden-sm">
                 

                    <li>
                        <a href="https://www.facebook.com/CenterForSpeechAndLanguageDisorder" target="_blank"><img src="img/facebook.jpg" alt="facebook icon"></a>
                    </li>
                </ul>



    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
</nav>